<div class="container" *ngIf="!loadingError">
  <div class="basic-info-wrap">
    <p class="page-title-text">{{dealerDetails?.legalName}}</p>
    <div class="d-flex">
      <span class="company-id">{{ "subscriptions.subscriptionData.COMPANY_ID" | translate }}:
        <strong>{{dealerDetails?.companyId}}

        </strong></span>
      <span class="outlet-id">{{ "subscriptions.subscriptionData.OUTLET_ID" | translate }}:
        <strong>{{dealerDetails?.outletId}}
        </strong></span>
    </div>
    <div class="location-id"><img src='assets/icons/location.png' alt="Address">
      <div class="address">{{dealerDetails?.road}}, {{dealerDetails?.place}}, {{dealerDetails?.postCode}}</div>
    </div>
    <hr>

  </div>
  <div class="title-container">
    <h3 class="page-title">{{ "navbar.MY_SUBSCRIPTIONS" | translate }}</h3>
    <div class="refresh-button"
    #tooltip="matTooltip"
     matTooltip="{{ 'subscriptions.REFRESH' | translate }}"
     matTooltipPosition = "above"
     matTooltipClass="custom-tooltip"
     (click)="refreshData()"
     >
      <img src="assets/icons/refresh.svg" alt="REFRESH">
    </div>
  </div>

  <div class="info-table-wrap">
    <div class="status-table-header">
      <span class="division">{{
        "subscriptions.formLabels.DIVISION" | translate
      }}</span>
      <span class="equipment-type">{{
        "subscriptions.formLabels.EQUIPMENT_TYPE" | translate
      }}</span>
      <span class="sub-status">{{
        "subscriptions.formLabels.SUBSCRIPTION_STATUS" | translate
      }}</span>
      <span class="sub-type">{{
        "subscriptions.formLabels.SUBSCRIPTION_TYPE" | translate
      }}</span>
    </div>
    <div class="status-table-body">
      <div class="row"
        [ngClass]="{ 'no-subscribed' : !dealerSubStatus?.Truck?.subscribed , 'subscribed':  dealerSubStatus?.Truck?.subscribed }">
        <span class="division">{{
          "subscriptions.divisions.TRUCK" | translate
        }}</span>
        <span class="equipment-type"
          *ngIf="dealerSubStatus?.Truck?.equipmentType == 'FULL_EQUIPMENT'">{{ "subscriptions.equipmentType.FULL_EQUIPMENT" | translate }}</span>
        <span class="equipment-type" *ngIf="
            dealerSubStatus?.Truck?.equipmentType == 'PARTIAL_EQUIPMENT'
          ">{{
            "subscriptions.equipmentType.PARTIAL_EQUIPMENT" | translate
          }}</span>
        <span class="equipment-type" *ngIf="
            dealerSubStatus?.Truck?.equipmentType == 'NA' ||
            !dealerSubStatus?.Truck?.equipmentType
          ">{{ "subscriptions.equipmentType.NA" | translate }}</span>
        <span class="sub-status"></span>
        <span class="sub-type"></span>
      </div>
    </div>
    <div class="legends-container">
      <div class="legends-wrap">
        <span class="active">{{ "common.labels.ACTIVE" | translate }}</span>
        <span class="inactive">{{ "common.labels.INACTIVE" | translate }}</span>
      </div>
      <div class="dealer-message">
        * {{ "subscriptions.DEALER_MESSAGE" | translate }}
      </div>
    </div>

  </div>
</div>
