@import 'src/partials/variables';

.container {
    padding: 20px 50px;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;
    @media screen and (max-width: 860px) {
        padding: 20px 30px;
      }
    .page-title {
        font-size: 25px;
        font-family: $daimler-cs-bold;
        color: #000000;
        margin: 0 0 25px;
        margin-top: 25px;
        @media screen and (max-width: 860px) {
            margin: 0;
          }
    }
    .info-table-wrap {
        overflow: auto;
        .status-table-header {
            min-width: 400px;
            display: flex;
            height: 45px;
            border-radius: 5px;
            background-color: #eeeeee;
            margin-bottom: 15px;
            span {
                flex: 1;
                font-family: $daimler-cs-demi;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 10px;
            }
        }
        .status-table-body {
            display: flex;
            flex-direction: column;
            min-width: 400px;
            .row {
                display: flex;
                height: 65px;
                border-radius: 5px;
                box-shadow: 0 2px 6px 0 rgba(20, 126, 159, 0.12);
                background-color: #ffffff;
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: #ed3833;
                }
                span {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0 10px;
                    font-size: 16px;
                    color: #444444;
                    &.sub-status {
                        position: relative;
                        justify-content: flex-start;
                        left: 10px;
                        &::after {
                            content: '';
                            width: 9px;
                            height: 9px;
                            background-color: #ed3833;
                            border-radius: 50%;
                        }
                    }
                }
                &.subscribed {
                    &::before {
                        background-color: #6db537;
                    }
                    .sub-status {
                        &::after {
                            background-color: #6db537;
                        }
                    }
                }
                &.no-subscribed {
                    &::before {
                      background-color: #c8c8c7;
                    }
                    .sub-status {
                      &::after {
                        background-color: #c8c8c7;
                      }
                    }
                  }
            }
        }
        .legends-container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .dealer-message{
                margin-top: 30px;
                font-family: $daimler-cs-regular;
                font-size: 13px;
                font-style: italic;
                @media screen and (max-width: 460px) {
                    margin-top: 5px;
                    margin-bottom: 35px;
                  }
            }
        }
        .legends-wrap {
            padding: 30px 0;
            display: flex;
            span {
                padding-left: 15px;
                font-size: 14px;
                color: #444444;
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 15px;
                &::before {
                    content: '';
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background: #ed3833;
                    position: absolute;
                    left: 0;
                    top: 3px;
                }
                &.active {
                    &::before {
                        background: #6db537;
                    }
                }
            }
        }
    }

    .title-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .refresh-button {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        padding: 8px;
        border: 0;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        display: block;
        &:hover {
          background: #fffafa;
          cursor: pointer;
        }
      }

    
      

    .basic-info-wrap {
        width: 100%;
        padding-bottom: 15px;
        position: relative;
        hr {
            // position: absolute;
            width: 100%;
            height: 0px;
            border: 1px solid #e0e0e0;
            bottom: 0;
            left: 0;
        }

        .page-title-text {
            font-size: 30px;
            font-family: $daimler-cs-bold;
            color: #000000;
            margin: 0 0 5px;
            @media screen and (max-width: 460px) {
                font-size: 25px;
              }
        }
        .dealer-name {
            font-family: $daimler-cs-demi;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .company-id,
        .outlet-id {
            font-size: 16px;
            margin-right: 40px;
            b {
                font-family: $daimler-cs-demi;
            }
        }
        .location-id{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            img {
                margin-left: -5px;
                width: 35px;
                height: 35px;
            }
            .address{
                margin-top: 5px;
                font-family: $daimler-cs-regular;
                font-size: 16px;
            }
        }
    }

}
::ng-deep .custom-tooltip {
    color: black ;
    background-color:#2f7c93ce;
    font-size: 15px;
  }