::ng-deep.custom-expansion-panel {
    .mat-expansion-panel-header {
        padding: 0;
    }
    .mat-expansion-indicator {
        position: absolute;
        right: 12px;
        opacity: 0;
        top: 13px;
        transition: 0.3s opacity;
        &::after {
            border-color: #fff;
            padding: 4px;
        }
    }
    .mat-expansion-panel-body {
        padding: 0;
    }
    &.full-width {
        .mat-expansion-indicator {
            opacity: 1;
            transition-delay: 0.3s opacity;
        }
        .mat-expansion-panel-body {
            padding: 0 24px 16px !important;
        }
    }
}