<mat-expansion-panel class="custom-expansion-panel" [ngClass]="{'full-width' : fullWidth}">
    <mat-expansion-panel-header>
        <ng-container *ngTemplateOutlet="expansionHeader"></ng-container>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <ng-container *ngTemplateOutlet="expansionContent"></ng-container>
    </ng-template>
</mat-expansion-panel>