@import 'src/partials/variables';

.container {
    width: 60vw;
    height: 85vh;
    background: #fff;
    padding: 35px;
    position: relative;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.18);
    .close-bttn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 15px;
        height: 15px;
        background: url('/assets/icons/dialog-close.svg') no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }
    .form-stepper-wrap {
        height: 60px;
        min-height: 60px;
    }
    .form-wrap {
        flex: 1;
        display: flex;
        flex-flow: column;
        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
        }
        .form-title {
            font-family: $daimler-cs-bold;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        section {
            width: 100%;
            flex: 1;
            border-radius: 5px;
            background-color: #f8f8f8;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-flow: column;
            &.basic-data,
            &.email-data {
                max-height: 250px;
            }
            .section-title {
                font-family: $daimler-cs-demi;
                font-size: 22px;
                margin-bottom: 15px;
            }
            .form-inputs-wrap {
                display: flex;
                justify-content: space-between;
                flex: 1;
                flex-wrap: wrap;
                .form-group {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 25px;
                    position: relative;
                    label {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    input {
                        width: 100%;
                        height: 42px;
                        border-radius: 5px;
                        border: solid 1px #707070;
                        padding: 10px;
                         ::placeholder {
                            color: #707070;
                        }
                    }
                    .validation-msg {
                        position: absolute;
                        color: red;
                        font-size: 14px;
                        bottom: -20px;
                        right: 0;
                    }
                }
            }
            &.subscription-data {
                .basic-data-wrap {
                    height: 60px;
                    display: flex;
                    flex-flow: column;
                    font-size: 1.6rem;
                    .data-row {
                        display: flex;
                        justify-content: space-between;
                        flex: 1;
                        .dealer-name {
                            font-family: $daimler-cs-demi;
                            font-size: 2.2rem;
                        }
                        .address {
                            color: #707070;
                            position: relative;
                            padding-left: 25px;
                            &::after {
                                content: '';
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                background: url('/assets/icons/address-icon.svg') no-repeat;
                                background-size: contain;
                                background-position: center;
                                top: 0;
                                left: 5px;
                            }
                        }
                    }
                }
                .type-select-container {
                    flex: 1;
                    flex-flow: column;
                    display: flex;
                    .select-table-header {
                        width: 100%;
                        height: 45px;
                        border-radius: 5px;
                        background-color: #eeeeee;
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        padding: 0 20px;
                        span {
                            font-family: $daimler-cs-demi;
                            font-size: 16px;
                            flex: 1;
                            display: flex;
                            align-items: center;
                            // justify-content: center;
                            // &.division {}
                            // &.subscription {}
                            // &.equipment-type {}
                            // &.subscription-type {}
                        }
                    }
                    .select-table-body {
                        flex: 1;
                        .row {
                            height: 65px;
                            border-radius: 5px;
                            box-shadow: 0 2px 6px 0 rgba(20, 126, 159, 0.12);
                            background-color: #ffffff;
                            margin-bottom: 10px;
                            display: flex;
                            align-items: center;
                            padding: 20px;
                            .division,
                            .subscription,
                            .equipment-type,
                            .subscription-type {
                                flex: 1;
                            }
                            .division {
                                font-size: 16px;
                                color: #444444;
                            }
                        }
                         ::ng-deep {
                            .mat-select,
                            .mat-radio-button {
                                font-size: 1.6rem;
                            }
                            .mat-radio-button {
                                margin-right: 20px;
                            }
                            .mat-radio-outer-circle {
                                border: solid 1px #c3c3c3 !important;
                            }
                            .mat-radio-checked {
                                .mat-radio-inner-circle {
                                    background-color: #2f7b93 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .form-actions-wrap {
        height: 50px;
        width: 100%;
        display: flex;
        span {
            height: 100%;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $daimler-cs-demi;
            font-size: 20px;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            &.prev-step {
                box-shadow: 0 2px 8px 0 rgba(163, 163, 163, 0.31);
                background-color: #444444;
            }
            &.next-step {
                box-shadow: 0 2px 8px 0 rgba(35, 145, 180, 0.31);
                background-color: #2f7b93;
            }
            &.cancel {
                color: #2f7b93;
                border: solid 1px #2f7b93;
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}