<!-- <div class="container">
    <span class="close-bttn" (click)="close()"></span>
    <div class="form-stepper-wrap">
        <app-stepper [steps]="stepperConfig" [activeStep]="activeStepIndex"></app-stepper>
    </div>
    <div class="form-wrap">
        <h3 class="form-title">{{activeStep.title}}</h3>
        <ng-container *ngTemplateOutlet="activeStep.template == 'dealerForm'? dealerDataForm: subscriptionDataForm"></ng-container>
    </div>
    <div class="form-actions-wrap">
        <span class="prev-step" (click)="handlePrev()" *ngIf="isLastStep">{{ 'common.buttons.PREVIOUS' | translate }}</span>
        <span class="next-step" (click)="handleNext()">{{(isLastStep ? 'common.buttons.SAVE' : 'common.buttons.NEXT') | translate}}</span>
        <span class="cancel" (click)="close()">{{'common.buttons.CANCEL' | translate}}</span>
    </div>
</div>

<ng-template #dealerDataForm>
    <form [formGroup]="dealerForm" novalidate>
        <section class="basic-data">
            <p class="section-title">{{'subscriptions.formLabels.BASIC' | translate}}</p>
            <div class="form-inputs-wrap">
                <div class="form-group">
                    <label class="center-block" for="legalName">{{'subscriptions.subscriptionData.DEALER_NAME' | translate}}</label>
                    <input class="form-control" formControlName="legalName" placeholder="eg: Aarsy Bill As">
                    <span class="validation-msg" *ngIf="showValidationMsg && !dealerForm.controls.legalName.valid">Required Field</span>
                </div>
                <div class="form-group">
                    <label class="center-block" for="outletId">{{'subscriptions.subscriptionData.OUTLET_ID' | translate}}</label>
                    <input class="form-control" formControlName="outletId" placeholder="eg: GS0037467">
                    <span class="validation-msg" *ngIf="showValidationMsg && !dealerForm.controls.outletId.valid">Required Field</span>

                </div>
                <div class="form-group">
                    <label class="center-block" for="companyId">{{'subscriptions.subscriptionData.COMPANY_ID' | translate}}</label>
                    <input class="form-control" formControlName="companyId" placeholder="eg: GC0030111">
                    <span class="validation-msg" *ngIf="showValidationMsg && !dealerForm.controls.companyId.valid">Required Field</span>

                </div>
                <div class="form-group">
                    <label class="center-block" for="brandCode">{{'subscriptions.subscriptionData.BRAND_CODE' | translate}}</label>
                    <input class="form-control" formControlName="brandCode" placeholder="eg: 722">
                    <span class="validation-msg" *ngIf="showValidationMsg && !dealerForm.controls.brandCode.valid">Required Field</span>

                </div>
                <div class="form-group">
                    <label class="center-block" for="road">{{'subscriptions.subscriptionData.ADDRESS' | translate}}</label>
                    <input class="form-control" formControlName="road" placeholder="eg: Hvamisvingen 5">
                    <span class="validation-msg" *ngIf="showValidationMsg && !dealerForm.controls.road.valid">Required Field</span>

                </div>
                <div class="form-group">
                    <label class="center-block" for="postCode">{{'subscriptions.subscriptionData.POSTCODE' | translate}}</label>
                    <input class="form-control" formControlName="postCode" placeholder="eg: 2013">
                    <span class="validation-msg" *ngIf="showValidationMsg && !dealerForm.controls.postCode.valid">Required Field</span>

                </div>
            </div>
        </section>
        <section class="email-data">
            <p class="section-title">{{'subscriptions.formLabels.EMAIL_CONTACT' | translate}}</p>
            <div class="form-inputs-wrap">
                <div class="form-group">
                    <label class="center-block" for="emailPassengerCars">{{'subscriptions.divisions.PASSENGER_CAR' | translate}}</label>
                    <input class="form-control" formControlName="emailPassengerCars" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="center-block" for="emailTransporter">{{'subscriptions.divisions.TRUCK' | translate}}</label>
                    <input class="form-control" formControlName="emailTransporter" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="center-block" for="emailLKW">{{'subscriptions.divisions.VAN' | translate}}</label>
                    <input class="form-control" formControlName="emailLKW" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="center-block" for="emailSmartPassengerCars">{{'subscriptions.divisions.EQ' | translate}}</label>
                    <input class="form-control" formControlName="emailSmartPassengerCars" placeholder="Email">
                </div>
            </div>

        </section>
    </form>
</ng-template>

<ng-template #subscriptionDataForm>
    <form [formGroup]="subscriptionForm" novalidate>
        <section class="subscription-data">
            <div class="basic-data-wrap">
                <div class="data-row">
                    <span class="dealer-name">{{dealerForm.controls.legalName.value}}</span>
                    <span class="company-id">Company ID: <b>{{dealerForm.controls.companyId.value}}</b></span>
                </div>
                <div class="data-row">
                    <span class="address">{{dealerForm.controls.road.value}}</span>
                    <span class="outlet-id">Outlet ID: <b>{{dealerForm.controls.outletId.value}}</b></span>
                </div>
            </div>
            <div class="type-select-container">.
                <div class="select-table-header">
                    <span class="division">{{'subscriptions.formLabels.DIVISION' | translate}}</span>
                    <span class="subscription">{{'subscriptions.formLabels.SUBSCRIPTION' | translate}}</span>
                    <span class="equipment-type">{{'subscriptions.formLabels.EQUIPMENT_TYPE' | translate}}</span>
                    <span class="subscription-type">{{'subscriptions.formLabels.SUBSCRIPTION_TYPE' | translate}}</span>
                </div>
                <div class="select-table-body">
                    <div class="row">
                        <div class="division">Passenger Car</div>
                        <div class="subscription">
                            <div class="form-group">
                                <mat-radio-group formControlName="passengerSubscribed">
                                    <mat-radio-button [value]="true">{{'common.buttons.YES' | translate}}</mat-radio-button>
                                    <mat-radio-button [value]="false">{{'common.buttons.NO' | translate}}</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="equipment-type">
                            <mat-select formControlName="passengerEquipmentType" class="form-select" disableOptionCentering panelClass="form-select-panel" placeholder="Select Equipment Type">
                                <mat-option [value]="'NA'" *ngIf="!subscriptionForm.controls.passengerSubscribed.value">NA</mat-option>
                                <mat-option [value]="'FULL_EQUIPMENT'">{{'subscriptions.equipmentType.FULL_EQUIPMENT' | translate}}</mat-option>
                                <mat-option [value]="'PARTIAL_EQUIPMENT'">{{'subscriptions.equipmentType.PARTIAL_EQUIPMENT' | translate}}</mat-option>
                            </mat-select>
                        </div>
                        <div class="subscription-type">
                            <mat-select [disabled]="true" formControlName="passengerSubType" class="form-select" disableOptionCentering panelClass="form-select-panel" placeholder="Select Subscription Type">
                            </mat-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="division">Van</div>
                        <div class="subscription">
                            <mat-radio-group formControlName="vanSubscribed">
                                <mat-radio-button [value]="true">{{'common.buttons.YES' | translate}}</mat-radio-button>
                                <mat-radio-button [value]="false">{{'common.buttons.NO' | translate}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="equipment-type">
                            <mat-select formControlName="vanEquipmentType" class="form-select" disableOptionCentering panelClass="form-select-panel" placeholder="Select Equipment Type">
                                <mat-option [value]="'NA'" *ngIf="!subscriptionForm.controls.vanSubscribed.value">NA</mat-option>
                                <mat-option [value]="'FULL_EQUIPMENT'">{{'subscriptions.equipmentType.FULL_EQUIPMENT' | translate}}</mat-option>
                                <mat-option [value]="'PARTIAL_EQUIPMENT'">{{'subscriptions.equipmentType.PARTIAL_EQUIPMENT' | translate}}</mat-option>
                            </mat-select>
                        </div>
                        <div class="subscription-type">
                            <mat-select [disabled]="true" formControlName="vanSubType" class="form-select" disableOptionCentering panelClass="form-select-panel" placeholder="Select Subscription Type">
                            </mat-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="division">Truck</div>
                        <div class="subscription">
                            <mat-radio-group formControlName="truckSubscribed">
                                <mat-radio-button [value]="true">{{'common.buttons.YES' | translate}}</mat-radio-button>
                                <mat-radio-button [value]="false">{{'common.buttons.NO' | translate}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="equipment-type">
                            <mat-select formControlName="truckEquipmentType" class="form-select" disableOptionCentering panelClass="form-select-panel" placeholder="Select Equipment Type">
                                <mat-option [value]="'NA'" *ngIf="!subscriptionForm.controls.truckSubscribed.value">NA</mat-option>
                                <mat-option [value]="'FULL_EQUIPMENT'">{{'subscriptions.equipmentType.FULL_EQUIPMENT' | translate}}</mat-option>
                                <mat-option [value]="'PARTIAL_EQUIPMENT'">{{'subscriptions.equipmentType.PARTIAL_EQUIPMENT' | translate}}</mat-option>
                            </mat-select>
                        </div>
                        <div class="subscription-type">
                            <mat-select [disabled]="true" formControlName="truckSubType" class="form-select" disableOptionCentering panelClass="form-select-panel" placeholder="Select Subscription Type">
                            </mat-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="division">EQ</div>
                        <div class="subscription">
                            <mat-radio-group formControlName="eqSubscribed">
                                <mat-radio-button [value]="true">{{'common.buttons.YES' | translate}}</mat-radio-button>
                                <mat-radio-button [value]="false">{{'common.buttons.NO' | translate}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="equipment-type">
                            <mat-select formControlName="eqEquipmentType" class="form-select" disableOptionCentering panelClass="form-select-panel" placeholder="Select Equipment Type">
                                <mat-option [value]="'NA'" *ngIf="!subscriptionForm.controls.eqSubscribed.value">NA</mat-option>
                                <mat-option [value]="'FULL_EQUIPMENT'">{{'subscriptions.equipmentType.FULL_EQUIPMENT' | translate}}</mat-option>
                                <mat-option [value]="'PARTIAL_EQUIPMENT'">{{'subscriptions.equipmentType.PARTIAL_EQUIPMENT' | translate}}</mat-option>
                            </mat-select>
                        </div>
                        <div class="subscription-type">
                            <mat-select [disabled]="true" formControlName="eqSubType" class="form-select" disableOptionCentering panelClass="form-select-panel" placeholder="Select subscription type">
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</ng-template> -->