@import 'src/partials/variables';

.container {
    width: 50vw;
    height: 30vh;
    background: #fff;
    padding: 35px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.18);
    max-width: 500px;
    max-height: 250px;
    display: flex;
    flex-flow: column;
    .close-bttn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 15px;
        height: 15px;
        background: url('/assets/icons/dialog-close.svg') no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }
    .confirm-msg-wrap {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        .confirm-sync-msg {
            font-family: $daimler-cs-bold;
            font-size: 26px;
            color: black
        }
    }
    .actions-wrap {
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        span {
            height: 100%;
            width: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $daimler-cs-demi;
            font-size: 18px;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            &.confirm {
                box-shadow: 0 2px 8px 0 rgba(35, 145, 180, 0.31);
                background-color: #2f7b93;
            }
            &.cancel {
                color: #2f7b93;
                border: solid 1px #2f7b93;
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}