<div class="container">
  <span class="close-bttn" (click)="closeDialog()"></span>
  <div class="confirm-msg-wrap">
    <span class="confirm-sync-msg">{{ "subscriptions.SYNC_CONFIRM_MSG" | translate }}</span>
  </div>
  <div class="actions-wrap">
    <span class="confirm" (click)="confirmSync()">{{
      "common.buttons.YES" | translate
    }}</span>
    <span class="cancel" (click)="cancelSync()">{{
      "common.buttons.NO" | translate
    }}</span>
  </div>
</div>
