<div class="container">

    <app-datatable [columns]="displayedColumns" [data]="data" [columnConfig]="columnConfig" (rowClick)="handleRowClick($event)" [showLegends]="true">

        <!-- Dealer Name -->
        <ng-container matColumnDef="dealerName">
            <th id="dealerName" mat-header-cell width="350px" *matHeaderCellDef [attr.rowspan]="columnConfig.dealerName.rowSpan" [attr.colspan]="columnConfig.dealerName.colSpan"> {{columnConfig.dealerName.title | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{getValueIn(element,cellSelectors.dealerName)}}</td>
        </ng-container>

        <!-- Outlet ID -->
        <ng-container matColumnDef="outletId">
            <th id="outletId" mat-header-cell *matHeaderCellDef [attr.rowspan]="columnConfig.outletId.rowSpan" [attr.colspan]="columnConfig.outletId.colSpan"> {{columnConfig.outletId.title | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{getValueIn(element,cellSelectors.outletId)}} </td>
        </ng-container>

        <!-- Company ID -->
        <ng-container matColumnDef="companyId">
            <th id="companyId" mat-header-cell *matHeaderCellDef [attr.rowspan]="columnConfig.companyId.rowSpan" [attr.colspan]="columnConfig.companyId.colSpan"> {{columnConfig.companyId.title | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{getValueIn(element,cellSelectors.companyId)}} </td>
        </ng-container>

        <!-- Leading Brand Code -->
        <ng-container matColumnDef="brandCode">
            <th id="brandCode" mat-header-cell *matHeaderCellDef width="100px" style="padding-right: 20px;" [attr.rowspan]="columnConfig.brandCode.rowSpan" [attr.colspan]="columnConfig.brandCode.colSpan"> {{columnConfig.brandCode.title | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{getValueIn(element,cellSelectors.brandCode)}} </td>
        </ng-container>

        <!-- Road  or Adress-->
        <ng-container matColumnDef="address">
            <th id="address" mat-header-cell *matHeaderCellDef width="140px" [attr.rowspan]="columnConfig.address.rowSpan" [attr.colspan]="columnConfig.address.colSpan"> {{columnConfig.address.title | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{getValueIn(element,cellSelectors.address)}} </td>
        </ng-container>

        <!-- Place -->
        <ng-container matColumnDef="place">
            <th id="place" mat-header-cell *matHeaderCellDef  [attr.rowspan]="columnConfig.place.rowSpan" [attr.colspan]="columnConfig.place.colSpan"> {{columnConfig.place.title | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{getValueIn(element,cellSelectors.place)}} </td>
        </ng-container>

        <!-- Post Code -->
        <ng-container matColumnDef="postCode">
            <th id="postCode" mat-header-cell *matHeaderCellDef [attr.rowspan]="columnConfig.postCode.rowSpan" [attr.colspan]="columnConfig.postCode.colSpan"> {{columnConfig.postCode.title | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{getValueIn(element,cellSelectors.postCode)}} </td>
        </ng-container>

        <!-- Subscription Status -->
        <ng-container matColumnDef="subscriptionStatus">
            <th id="subscriptionStatus" mat-header-cell *matHeaderCellDef [attr.rowspan]="columnConfig.subscriptionStatus.rowSpan" [attr.colspan]="columnConfig.subscriptionStatus.colSpan"> {{columnConfig.subscriptionStatus.title | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngTemplateOutlet="
                getValueIn(element,cellSelectors.subscriptionStatus.truck)?.subscribed? subscribed : notSubscribed"></ng-container>
            </td>
        </ng-container>

        <!-- Truck -->
        <!-- <ng-container matColumnDef="truck">
            <th id="truck" mat-header-cell class="text-align-left" *matHeaderCellDef [attr.rowspan]="columnConfig.truck.rowSpan" [attr.colspan]="columnConfig.truck.colSpan"> {{columnConfig.truck.title | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngTemplateOutlet="
                getValueIn(element,cellSelectors.subscriptionStatus.truck)?.subscribed? subscribed : notSubscribed"></ng-container>
            </td>
        </ng-container> -->

    </app-datatable>

</div>

<ng-template #subscribed>
    <div class="sub-status-wrap">
        <span class="sub-status subscribed"></span>
    </div>
</ng-template>
<ng-template #notSubscribed>
    <div class="sub-status-wrap">
        <span class="sub-status not-subscribed"></span>
    </div>
</ng-template>

<ng-template #noSubscription>
    <div class="sub-status-wrap">
        <span class="sub-status no-subscription"></span>
    </div>
</ng-template>