.container {
  width: 100%;
  height: 100%;

  .sub-status-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .sub-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;

      &.subscribed {
        background-color: #6db537;
      }

      &.not-subscribed {
        background-color: #ed3833;
      }

      &.no-subscription {
        background-color: #C8C8C7;
      }
    }
  }
}
