<div class="datatable-container">

    <div class="table-wrap">

        <table aria-describedby="custom-table" mat-table [dataSource]="dataToRender" class="mat-elevation-z8" [ngClass]="{'multiline-header': hasMultiLineHeader}">

            <ng-content></ng-content>
            <ng-container *ngFor="let headerRow of columns">
                <tr mat-header-row *matHeaderRowDef="headerRow; sticky:true"></tr>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: bodyColumns;" (click)="handleRowClick(row)"></tr>
        </table>
        <div class="no-data" *ngIf="!dataToRender || !dataToRender.length">
            No Data To Display
        </div>
    </div>
    <div class="table-footer" [ngClass]="{'has-legends': showLegends}">
        <div class="legend-wrap" *ngIf="showLegends">
            <span class="legend-item active">{{"common.labels.ACTIVE" | translate}}</span>
            <span class="legend-item inactive">{{"common.labels.INACTIVE" | translate}}</span>
        </div>
        <div class="pagination-wrap">
            <app-pagination [activePageNumber]="currentPageNumber" (paginationChange)="handlePaginationChange($event)" [pageLength]="maxPageNumber" #paginationRef></app-pagination>
        </div>
    </div>
</div>