/* SASS Partials */

@import "./partials/reset";
@import "./partials/fonts";
@import "./partials/mat-custom";
@import "./partials/lib-override";
@import "./partials/variables";

/* Angular Material */

@import "~@angular/material/theming";
// @import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: "DaimlerCS-Regular !important",
);
// @include mat-base-typography($custom-typography);
// @include mat-checkbox-typography($custom-typography);
// @include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

/* Toast */

@import "~ngx-toastr/toastr";

/* Root Styles */

* {
  font-family: $daimler-cs-regular;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $daimler-cs-regular;
}

::ng-deep .mat-radio-button {
  font-family: $daimler-cs-regular;
}

/* Flex Styles */

.d-flex {
  display: flex;
  &.full {
    width: 100%;
    height: 100%;
  }
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.fd-col {
  flex-direction: column;
}

.popover-box {
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(20, 126, 159, 0.21);
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  align-items: center;
  .sync-add-info {
    font-family: $daimler-cs-regular;
    font-size: 12px;
    color: #444444;
    margin-bottom: 10px;
  }
  .next-date {
    font-family: $daimler-cs-regular;
    font-size: 14px;
    color: #444444;
    .bold {
      font-family: $daimler-cs-demi;
    }
  }
}

/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */
.loading {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  color: black ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .app-big-logo {
    max-width: 50vw;
    margin-bottom: 20px;
  }
}


.initial-loader {
	display: inline-block;
	width: 2em;
	height: 2em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
}

.initial-loader {
	border-radius: 50%;
	box-shadow: 0 3em 0 -.6em currentcolor;
	position: relative;
	animation: loaderAnimation 0.8s ease-in-out alternate infinite;
	animation-delay: 0.32s;
	top: -3em;
	&:after,
	&:before {
		content: '';
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		box-shadow: inherit;
		animation: inherit;
	}
	&:before {
		left: -3em;
		animation-delay: 0.48s;
	}
	&:after {
		right: -3em;
		animation-delay: 0.16s;
	}
}

@keyframes loaderAnimation{
	0% {
		box-shadow: 0 6em 0 -.6em currentcolor;
	}
	100% {
		box-shadow: 0 3em 0 -.6em currentcolor;
	}
}
