@import 'src/partials/variables';

.container {
    padding: 20px 50px;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;
    .page-title {
        font-size: 30px;
        font-family: $daimler-cs-bold;
        color: #000000;
        margin: 0 0 25px;
    }
    .subinfo-filter-wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .input-wrap {
            height: 40px;
            min-width: 430px;
            border-radius: 5px;
            border: solid 1px #707070;
            padding-left: 50px;
            display: flex;
            align-items: center;
            padding-right: 10px;
            position: relative;
            margin-bottom: 5px;
            @media screen and (max-width: 860px) {
                min-width: 95%;
              }
            input {
                font-size: 16px;
                &::placeholder {
                    color: #707070;
                }
            }
            &::after {
                content: '';
                position: absolute;
                width: 50px;
                height: 20px;
                background: url('/assets/icons/search-icon.svg') no-repeat;
                background-size: contain;
                background-position: center;
                left: 0;
            }
        }
        .bttn-wrap {
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            height: 40px;
            margin-bottom: 5px;
            div {
                font-family: $daimler-cs-demi;
                font-size: 17px;
                color: #ffffff;
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .download-csv-bttn {
                margin-right: 20px;
                padding: 0 35px;
                border-radius: 5px;
                box-shadow: 0 2px 8px 0 rgba(163, 163, 163, 0.31);
                background-color: #444444;
            }
        }
    }
    .sub-table-wrap {
        flex: 1;
        overflow: hidden;
        min-height: calc(100% - 50px);
    }
}