<div class="container">
    <h3 class="page-title">{{overviewData? ('sectionTitles.TOTAL_DEALERS' | translate) + ' - ' + overviewData.dealerCount: ('sectionTitles.TOTAL_DEALERS' | translate)}}</h3>

    <!-- <h3 class="page-title">{{overviewData? 'Total Dealers - ' + overviewData.dealerCount: 'Total Dealers'}}</h3> -->
    <app-division-aggregate [overviewData]="overviewData"></app-division-aggregate>
    <h3 class="page-title">{{'sectionTitles.ALL_SUBSCRIPTIONS' | translate}}</h3>
    <div class="subinfo-filter-wrap">
        <div class="input-wrap">
            <input type="text" name="" id="" placeholder="{{'subscriptions.SEARCH_BY_MPC' | translate}}" [(ngModel)]="filterKeyword" (ngModelChange)="updateFilteredSubInfoData()">
        </div>
        <div class="bttn-wrap" *ngIf = "authList.includes('EXPORT_REPORTS')">
            <div class="download-csv-bttn" (click)="downloadAsCSV()">{{'subscriptions.DOWNLOAD_EXCEL_BTTN' | translate}}</div>
        </div>
    </div>
    <div class="sub-table-wrap">
        <app-datatable [columns]="displayedColumns" [data]="filteredSubInfoData" [columnConfig]="columnConfig" (rowClick)="goToSubscriptions($event)">
            <!-- MPC -->
            <ng-container matColumnDef="mpc">
                <th id= 'mpc' mat-header-cell width="400px" *matHeaderCellDef [attr.rowspan]="columnConfig.mpc.rowSpan" [attr.colspan]="columnConfig.mpc.colSpan"> {{columnConfig.mpc.title | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{countryNames[getValueIn(element,cellSelectors.mpc)]}}</td>
            </ng-container>
            <!-- Dealer Count -->
            <ng-container matColumnDef="dealerCount">
                <th id= 'dealerCount' mat-header-cell *matHeaderCellDef [attr.rowspan]="columnConfig.dealerCount.rowSpan" [attr.colspan]="columnConfig.dealerCount.colSpan"> {{columnConfig.dealerCount.title | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{getValueIn(element,cellSelectors.dealerCount)}}</td>
            </ng-container>

            <!-- Subscription Count -->
            <ng-container matColumnDef="subscriptionCount">
                <th id= 'subscriptionCount' mat-header-cell *matHeaderCellDef [attr.rowspan]="columnConfig.subscriptionCount.rowSpan" [attr.colspan]="columnConfig.subscriptionCount.colSpan"> {{columnConfig.subscriptionCount.title | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{getValueIn(element,cellSelectors.subscriptionCount)}}</td>
            </ng-container>
        
        </app-datatable>
    </div>
</div>