@import 'src/partials/variables';

.subscriptions-container {
  padding: 20px 50px;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: auto;

  .page-title {
    font-size: 30px;
    font-family: $daimler-cs-bold;
    color: #000000;
    margin: 0 0 25px;
  }

  .sub-filter-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    min-height: 40px;

    .input-wrap {
      height: 100%;
      min-width: 430px;
      border-radius: 5px;
      border: solid 1px #707070;
      padding-left: 50px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      position: relative;
      @media screen and (max-width: 860px) {
        min-width: 95%;
      }
      input {
        font-size: 16px;

        &::placeholder {
          color: #707070;
        }
      }

      &::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 20px;
        background: url('/assets/icons/search-icon.svg') no-repeat;
        background-size: contain;
        background-position: center;
        left: 0;
      }
    }

    .add-sub-bttn {
      min-width: 225px;
      padding: 10px;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0 2px 8px 0 rgba(35, 145, 180, 0.31);
      background-color: #2f7b93;
      font-size: 17px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .sub-table-wrap {
    flex: 1;
    min-height: calc(100% - 50px);
    overflow: hidden;
  }


  .back-button-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 90px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(35, 145, 180, 0.31);
    font-size: 17px;
    margin-bottom: 15px;
    img {
        width: 20px;
        height: 20px;
      }

    span {
      font-family: $daimler-cs-regular;
    }
  }
}
