<div class="subscriptions-container">
    <div (click)='goBack()' class="back-button-container">
      <img class="" src='assets/icons/back-icon.png' alt='Back' />
      <span>{{ 'common.buttons.BACK' | translate}}</span>
    </div>
    <h3 class="page-title">{{overviewData? countryName + ' - ' +overviewData.dealerCount: countryName}}</h3>
  <app-division-aggregate [overviewData]="overviewData" (showTooltip)="showTooltip($event)"></app-division-aggregate>
  <div class="sub-filter-wrap">
    <div class="input-wrap">
      <input type="text" name="" id="" [placeholder]="'subscriptions.FILTER_PLACEHOLDER' | translate"
        [(ngModel)]="filterKeyword" (ngModelChange)="updateFilteredData()">
    </div>
  </div>
  <div class="sub-table-wrap">
    <app-subscriptions-table [data]="filteredSubData" (rowClick)="openSubscriptionDetails($event)">
    </app-subscriptions-table>
  </div>
</div>
