<div class = 'logout-btn-error' (click)="handleLogout()">LOGOUT HERE</div>
<div class="user-not-found-container">
     <div class="error-smiley">:(</div>
     <div class="error-404">Oops...!</div>
     <div class="error-details">{{errorMessage}}</div>
</div>
