@import 'src/partials/variables';

.user-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: hidden;

  .error-smiley {
    color: #2f7b93;
    font-size: 8.5rem;
    font-family: $daimler-cs-bold;
    margin-bottom: 15px;
  }

  .error-404 {
    font-size: 8rem;
    font-family: $daimler-cs-demi;
    color: #2f7b93;
  }

  .error-details {
    font-family: $daimler-cs-regular;
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

.logout-btn-error {
  float: right;
  margin: 2rem;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 18%);
  font-family: $daimler-cs-demi;
  color: #2f7b93;
}
