@import 'src/partials/variables';

.donut-chart-container {
    width: 100%;
    height: 60%;
    text-align: center;
    .chart-total {
        font-family: $daimler-cs-demi;
        font-size: 2rem;
        color: #707070;
    }
    .chart-title {
        font-family: $daimler-cs-demi;
        font-size: 1.6rem;
    }
}