<div class="donut-chart-container" #container>
    <ngx-charts-pie-chart (activate)="handleElActivation($event)" (deactivate)="handleElDeactivation($event)" [results]="renderData" [doughnut]="true" [customColors]="renderColorData" [legend]="showLegends" legendPosition="below" [legendTitle]="title" legendPosition="center">
        <ng-template #tooltipTemplate let-model="model">
            <ng-content [select]="tooltipRef"></ng-content>
        </ng-template>
    </ngx-charts-pie-chart>
    <span *ngIf="!showLegends" class="chart-title">{{title}}</span>
</div>