<div class="navbar-container">
    <!-- <p class="app-title">XWEP</p> -->
    <div class="app-logo">
        <img src="assets/logo/xwep-logo-name.svg" alt="xwep_logo">
    </div>

    <div class="menu-toggle" (click)="toggleMenu()"></div>
    <div class="nav-bttn-wrap">
        <ng-container *ngFor="let item of navConfig">
            <ng-container *ngTemplateOutlet="item.hasChildren ? itemWithChildren : itemWithoutChildren ;context:{ item : item }" [ngTemplateOutletContext]="{ item : item }"></ng-container>
        </ng-container>
    </div>
    <div class="email-container" *ngIf="open">
        <p>
        {{'subscriptions.FOR_ANY_QUERY' | translate}}
          <a href="mailto:support_xwep@daimler.com" class="mail">support_xwep@daimler.com</a>
        </p>
      </div>
    <p *ngIf="open && (userRole == 'hq')" class="footer-text">© 2020 Daimler AG. All Rights Reserved.</p>
</div>

<ng-template #itemWithChildren let-item="item">
    <app-expansion-panel [fullWidth]="open">
        <ng-template #expansionHeader>
            <div class="nav-item" [ngClass]="{'active': (currentRoute.includes(item.path))}" (click)="handleNavigation(item)">
                <span class="nav-item-icon" [ngStyle]="{'background-image': 'url(' + getIconPath(item) + ')'}"></span>
                <span *ngIf="open" class="nav-item-title">{{item.title | translate}}</span>
            </div>
        </ng-template>
        <ng-template #expansionContent>
            <ng-container *ngFor="let child of item.children">
                <div class="nav-item child" [ngClass]="{'active': (currentRoute.includes(child.path))}" (click)="handleNavigation(child)" *ngIf="open">
                    <span class="nav-item-icon" [ngStyle]="{'background-image': 'url(' + getIconPath(child) + ')'}"></span>
                    <span *ngIf="open" class="nav-item-title">{{child.title | translate}}</span>
                </div>
            </ng-container>
        </ng-template>
    </app-expansion-panel>
</ng-template>
<ng-template #itemWithoutChildren let-item="item">
    <div class="nav-item" [ngClass]="{'active': (currentRoute.includes(item.path))}" (click)="handleNavigation(item)"
        *ngIf = 'item.entitlementType === "" || authList.includes(item.entitlementType)'>
        <span class="nav-item-icon" [ngStyle]="{'background-image': 'url(' + getIconPath(item) + ')'}"></span>
        <span *ngIf="open" class="nav-item-title">{{item.title | translate}}</span>
    </div>
</ng-template>