@import 'src/partials/variables';

.navbar-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;
    display: flex;
    flex-flow: column;
    .app-title {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 25px;
        color: #fff;
        margin: 0;
    }
    .app-logo {
        padding: 20px 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        img {
            width: 100%;
            max-width: 130px;
        }
    }
    .menu-toggle {
        width: 100%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-sizing: content-box;
        padding: 10px 0;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 26px;
            height: 100%;
            background: url('/assets/icons/menu-toggle.svg') no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
    .nav-bttn-wrap {
        flex: 1;
        width: 100%;
        padding: 15px 10px 25px 10px;
        position: relative;
        .nav-item {
            height: 45px;
            padding-left: 45px;
            display: flex;
            width: 100%;
            align-items: center;
            position: relative;
            color: #c8c7c8;
            border-radius: 5px;
            margin-bottom: 20px;
            transition: 0.4s ease;
            cursor: pointer;
            .nav-item-icon {
                position: absolute;
                left: 17px;
                height: 26px;
                width: 26px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .nav-item-title {
                font-family: $daimler-cs-demi;
                font-size: 16px;
                margin-left: 20px;
                white-space: nowrap;
            }
            &.active {
                color: #fff;
                background-color: #1e566a;
            }
            &:hover {
                box-shadow: 0 0 25px #1e566a;
            }
            &.child {
                &.active {
                    background-color: #222222;
                }
            }
        }
    }
    .email-container {
        display: flex;
        justify-content: center;
        padding: 5px 10px;
        font-size: 14px;
        color: #b0aaaa;
        text-align: center;
        animation: animate 1s linear forwards;
        .mail {
            color: #7298f4;
        }
        @keyframes animate { 
            0% { 
                opacity: 0;
            } 
            60% { 
                opacity: 1;
            } 
        } 
    }
    .footer-text {
        font-size: 14px;
        color: #707070;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 0;
        white-space: nowrap;
    }
}