@import 'src/partials/variables';

.container {
    width: 60vw;
    height: 60vh;
    background: #fff;
    padding: 35px;
    position: relative;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.18);
    font-size: 16px;
    overflow: hidden;
    .close-bttn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 15px;
        height: 15px;
        background: url('/assets/icons/dialog-close.svg') no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }
    .basic-info-wrap {
        height: 100px;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: #e0e0e0;
            bottom: 0;
            left: 0;
        }
        .dealer-name {
            font-family: $daimler-cs-demi;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .company-id,
        .outlet-id {
            font-size: 16px;
            margin-right: 40px;
            b {
                font-family: $daimler-cs-demi;
            }
        }
        .delete-sub-bttn {
            width: 100px;
            height: 30px;
            border-radius: 5px;
            border: solid 1px #2f7b93;
            color: #2f7b93;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &::before {
                content: '';
                width: 15px;
                height: 16px;
                background: url('/assets/icons/delete-icon.svg') no-repeat;
                margin-right: 10px;
            }
        }
    }
    .content-wrap {
        flex: 1;
        overflow-y: auto;
    }
    .form-section {
        // height: calc(100% - 150px);
        width: 100%;
        display: flex;
        // flex-direction: column;
        flex-flow: column;
        align-items: center;
        .tabs-wrap {
            overflow: hidden;
            margin: 15px 0;
            width: fit-content;
            .sub-status, .dealer-data {
                padding: 10px 0;
                width: 200px;
                transition: 0.2s;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-family: $daimler-cs-demi;
                font-size: 16px;
                border: solid 1px #444444;
                cursor: pointer;
                &.active {
                    background-color: #444444;
                    color: #fff;
                }
                &:first-child {
                    border-radius: 5px 0 0 5px;
                }
                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
            }
        }
        .form-wrap {
            width: 100%;
            section {
                width: 100%;
                flex: 1;
                border-radius: 5px;
                background-color: #f8f8f8;
                padding: 10px 20px;
                margin-bottom: 20px;
                display: flex;
                flex-flow: column;
                &.basic-data,
                &.email-data {
                    max-height: 300px;
                    min-width: 500px;
                }
                .section-title {
                    font-family: $daimler-cs-demi;
                    font-size: 22px;
                    margin-bottom: 15px;
                }
                .form-inputs-wrap {
                    display: flex;
                    justify-content: space-between;
                    flex: 1;
                    flex-wrap: wrap;
                    .form-group {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                        position: relative;
                        .validation-msg {
                            position: absolute;
                            color: red;
                            font-size: 13px;
                            bottom: -20px;
                            right: 0;
                            font-family: $daimler-cs-regular;
                        }
                        label {
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 100%;
                            height: 42px;
                            border-radius: 5px;
                            border: solid 1px #707070;
                            padding: 10px;
                             ::placeholder {
                                color: #707070;
                            }
                            &.disabled {
                                background-color: #e2e2e2;
                            }
                        }
                    }
                }
                &.subscription-data {
                    overflow-y: auto;
                    .basic-data-wrap {
                        height: 60px;
                        display: flex;
                        flex-flow: column;
                        font-size: 1.6rem;
                        .data-row {
                            display: flex;
                            justify-content: space-between;
                            flex: 1;
                            .dealer-name {
                                font-family: $daimler-cs-demi;
                                font-size: 2.2rem;
                            }
                            .address {
                                color: #707070;
                                position: relative;
                                padding-left: 25px;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    background: url('/assets/icons/address-icon.svg') no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                    top: 0;
                                    left: 5px;
                                }
                            }
                        }
                    }
                    .type-select-container {
                        flex: 1;
                        flex-flow: column;
                        display: flex;
                        min-width: 850px;
                        .select-table-header {
                            width: 100%;
                            height: 45px;
                            border-radius: 5px;
                            background-color: #eeeeee;
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            padding: 0 20px;
                            span {
                                font-family: $daimler-cs-demi;
                                font-size: 16px;
                                flex: 1;
                                display: flex;
                                align-items: center;
                            }
                        }
                        .select-table-body {
                            flex: 1;
                            .row {
                                height: 65px;
                                border-radius: 5px;
                                box-shadow: 0 2px 6px 0 rgba(20, 126, 159, 0.12);
                                background-color: #ffffff;
                                margin-bottom: 10px;
                                display: flex;
                                align-items: center;
                                padding: 20px;
                                .division,
                                .subscription,
                                .equipment-type,
                                .subscription-type {
                                    flex: 1;
                                    min-width: 130px;
                                }
                                .division {
                                    font-size: 16px;
                                    color: #444444;
                                }
                            }
                             ::ng-deep {
                                .mat-select,
                                .mat-radio-button {
                                    font-size: 1.6rem;
                                }
                                .mat-radio-button {
                                    margin-right: 20px;
                                }
                                .mat-radio-outer-circle {
                                    border: solid 1px #c3c3c3 !important;
                                }
                                .mat-radio-checked {
                                    .mat-radio-inner-circle {
                                        background-color: #2f7b93 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .actions-wrap {
        height: 50px;
        width: 100%;
        display: flex;
        margin-top: 10px;
        span {
            height: 100%;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $daimler-cs-demi;
            font-size: 20px;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            &.save {
                box-shadow: 0 2px 8px 0 rgba(35, 145, 180, 0.31);
                background-color: #2f7b93;
            }
            &.cancel {
                color: #2f7b93;
                border: solid 1px #2f7b93;
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    .disabled {
        opacity: 0.5;
    }
    .equipment-type-width{
        width: 220px !important;
    }
    .equipment-type{
        margin-right: 10px;
    }

    .division{
        min-width: 110px  !important;
        width: 110px  !important;
    }
}