<div class="container">
  <span class="close-bttn" (click)="close()"></span>

  <div class="basic-info-wrap">
    <div>
      <p class="dealer-name">{{ data.legalName }}</p>
      <span class="company-id">{{ "subscriptions.subscriptionData.COMPANY_ID" | translate }}:
        <strong>{{ data.companyId }}</strong></span>
      <span class="outlet-id">{{ "subscriptions.subscriptionData.OUTLET_ID" | translate }}:
        <strong>{{ data.outletId }}</strong></span>
    </div>
    <!-- <span class="delete-sub-bttn" (click)="deleteSubscription()">Delete</span> -->
    <span class="delete-sub-bttn" (click)="deleteSubscription()" 
    *ngIf='data.status === "INACTIVE"'>{{"common.buttons.DELETE" | translate}}</span>

  </div>
  <div class="content-wrap">
    <div class="form-section">
      <div class="tabs-wrap">
        <div class="dealer-data" [ngClass]="{ active: activeTab == 'dealer' }" (click)="changeActiveTab('dealer')">
          {{"subscriptions.formLabels.DEALER_DATA" | translate}}
        </div>
        <div class="sub-status" [ngClass]="{ active: activeTab == 'status' }" (click)="changeActiveTab('status')">
          {{"subscriptions.formLabels.SUBSCRIPTION_STATUS" | translate}}
        </div>
      </div>
      <div class="form-wrap">
        <ng-container *ngTemplateOutlet="
            activeTab == 'dealer' ? dealerDataForm : subStatusDataForm
          "></ng-container>
      </div>
    </div>
    <div class="actions-wrap" *ngIf = "activeTab == 'status' ">
      <span class="save" (click)="validateForms()">{{
        "common.buttons.SAVE" | translate
      }}</span>
      <span class="cancel" (click)="close()">{{
        "common.buttons.CANCEL" | translate
      }}</span>
    </div>
  </div>
</div>

<ng-template #dealerDataForm>
  <form [formGroup]="dealerForm" novalidate>
    <section class="basic-data">
      <p class="section-title">{{"subscriptions.formLabels.BASIC" | translate}}</p>
      <div class="form-inputs-wrap">
        <div class="form-group">
          <label class="center-block" for="legalName">{{
            "subscriptions.subscriptionData.DEALER_NAME" | translate
          }}</label>
          <input class="form-control disabled" formControlName="legalName" placeholder="{{ 'subscriptions.EG' | translate }} Aarsy Bill As" readonly/>
          <!-- <span class="validation-msg"
            *ngIf="showValidationMsg && !dealerForm.controls.legalName.valid">{{"common.REQUIRED_FIELD" | translate}}</span> -->
        </div>
        <div class="form-group">
          <label class="center-block" for="outletId">{{
            "subscriptions.subscriptionData.OUTLET_ID" | translate
          }}</label>
          <input class="form-control disabled" formControlName="outletId" placeholder="{{ 'subscriptions.EG' | translate }}: GS0037467" readonly />
          <!-- <span class="validation-msg"
            *ngIf="showValidationMsg && !dealerForm.controls.outletId.valid">{{"common.REQUIRED_FIELD" | translate}}</span> -->
        </div>
        <div class="form-group">
          <label class="center-block" for="companyId">{{
            "subscriptions.subscriptionData.COMPANY_ID" | translate
          }}</label>
          <input class="form-control disabled" formControlName="companyId" placeholder="{{ 'subscriptions.EG' | translate }}: GC0030111" readonly/>
          <!-- <span class="validation-msg"
            *ngIf="showValidationMsg && !dealerForm.controls.companyId.valid">{{"common.REQUIRED_FIELD" | translate}}</span> -->
        </div>
        <div class="form-group">
          <label class="center-block" for="brandCode">{{
            "subscriptions.subscriptionData.BRAND_CODE" | translate
          }}</label>
          <input class="form-control disabled"  formControlName="brandCode" placeholder="{{ 'subscriptions.EG' | translate }}: 722" readonly/>
          <!-- <span class="validation-msg"
            *ngIf="showValidationMsg && !dealerForm.controls.brandCode.valid">{{"common.REQUIRED_FIELD" | translate}}</span> -->
        </div>
        <div class="form-group">
          <label class="center-block" for="road">{{
            "subscriptions.subscriptionData.ROAD" | translate
          }}</label>
          <input class="form-control disabled" formControlName="road" placeholder="{{ 'subscriptions.EG' | translate }}: Hvamisvingen 5" readonly/>
          <!-- <span class="validation-msg"
            *ngIf="showValidationMsg && !dealerForm.controls.road.valid">{{"common.REQUIRED_FIELD" | translate}}</span> -->
        </div>
        <div class="form-group">
          <label class="center-block" for="place">{{
            "subscriptions.subscriptionData.PLACE" | translate
          }}</label>
          <input class="form-control disabled" formControlName="place" placeholder="{{ 'subscriptions.EG' | translate }}: Hvamisvingen 5" readonly/>
          <!-- <span class="validation-msg"
            *ngIf="showValidationMsg && !dealerForm.controls.place.valid">{{"common.REQUIRED_FIELD" | translate}}</span> -->
        </div>
        <div class="form-group">
          <label class="center-block" for="postCode">{{
            "subscriptions.subscriptionData.POSTCODE" | translate
          }}</label>
          <input class="form-control disabled" formControlName="postCode" placeholder="{{ 'subscriptions.EG' | translate }}: 2013" readonly/>
          <!-- <span class="validation-msg"
            *ngIf="showValidationMsg && !dealerForm.controls.postCode.valid">{{"common.REQUIRED_FIELD" | translate}}</span> -->
        </div>
      </div>
    </section>
    <!-- <section class="email-data">
      <p class="section-title">
        {{ "subscriptions.formLabels.EMAIL_CONTACT" | translate }}
      </p>
      <div class="form-inputs-wrap">
        <div class="form-group">
          <label class="center-block" for="emailPassengerCars">{{
            "subscriptions.divisions.PASSENGER_CAR" | translate
          }}</label>
          <input class="form-control" formControlName="emailPassengerCars" placeholder="Email" />
        </div>
        <div class="form-group">
          <label class="center-block" for="emailLKW">{{
            "subscriptions.divisions.VAN" | translate
          }}</label>
          <input class="form-control" formControlName="emailLKW" placeholder="Email" />
        </div>
        <div class="form-group">
          <label class="center-block" for="emailTransporter">{{
            "subscriptions.divisions.TRUCK" | translate
          }}</label>
          <input class="form-control" formControlName="emailTransporter" placeholder="Email" />
        </div>

        <div class="form-group">
          <label class="center-block" for="emailSmartPassengerCars">{{
            "subscriptions.divisions.EQ" | translate
          }}</label>
          <input class="form-control" formControlName="emailSmartPassengerCars" placeholder="Email" />
        </div>
      </div>
    </section> -->
  </form>
</ng-template>
<ng-template #subStatusDataForm>
  <form [formGroup]="subscriptionForm" novalidate>
    <section class="subscription-data">
      <div class="type-select-container">
        .
        <div class="select-table-header">
          <span class="division">{{
            "subscriptions.formLabels.DIVISION" | translate
          }}</span>
          <span class="equipment-type">{{
            "subscriptions.formLabels.EQUIPMENT_TYPE" | translate
          }}</span>
          <span class="subscription">{{
            "subscriptions.formLabels.SUBSCRIPTION" | translate
          }}</span>
          <span class="subscription-type">{{
            "subscriptions.formLabels.SUBSCRIPTION_TYPE" | translate
          }}</span>
        </div>
        <div class="select-table-body">
          <div class="row">
            <div class="division">
              {{ "subscriptions.divisions.TRUCK" | translate }}
            </div>

            <div class="equipment-type">
              <mat-select formControlName="truckEquipmentType" class="form-select equipment-type-width" disableOptionCentering
                panelClass="form-select-panel" placeholder="Select Equipment Type" [disabled] = '!isTruckEnabled'>
                <mat-option [value]="'NA'" *ngIf="!subscriptionForm.controls.truckSubscribed.value">{{
                    "subscriptions.equipmentType.NA" | translate
                  }}</mat-option>
                <mat-option [value]="'FULL_EQUIPMENT'">{{
                  "subscriptions.equipmentType.FULL_EQUIPMENT" | translate
                }}</mat-option>
                <mat-option [value]="'PARTIAL_EQUIPMENT'">{{
                  "subscriptions.equipmentType.PARTIAL_EQUIPMENT" | translate
                }}</mat-option>
              </mat-select>
            </div>
            <div class="subscription" [ngClass] = "!isTruckEnabled ? 'disabled' : ''">
              <mat-radio-group formControlName="truckSubscribed" [disabled] = '!isTruckEnabled'>
                <mat-radio-button [value]="true">{{
                  "common.buttons.YES" | translate
                }}</mat-radio-button>
                <mat-radio-button [value]="false">{{
                  "common.buttons.NO" | translate
                }}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="subscription-type">
              <mat-select [disabled]="true" formControlName="truckSubType" class="form-select" disableOptionCentering
                panelClass="form-select-panel"
                placeholder="{{ 'subscriptions.formLabels.SELECT_SUBSCRIPTION_TYPE' | translate }}">
              </mat-select>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</ng-template>
