<div class="subscriptions-container">
  <h3 class="page-title">
    {{
      overviewData
        ? ("sectionTitles.TOTAL_DEALERS" | translate) +
          " - " +
          overviewData.dealerCount
        : ("sectionTitles.TOTAL_DEALERS" | translate)
    }}
  </h3>
  <app-division-aggregate
    [overviewData]="overviewData"
  ></app-division-aggregate>
  <h3 class="page-title">
    {{ "sectionTitles.ALL_SUBSCRIPTIONS" | translate }}
  </h3>
  <div class="sub-filter-wrap">
    <div class="input-wrap">
      <input
        type="text"
        name=""
        id=""
        [placeholder]="'subscriptions.FILTER_PLACEHOLDER' | translate"
        [(ngModel)]="filterKeyword"
        (ngModelChange)="updateFilteredData()"
      />
    </div>

    <div class="status-filter-container">
      <div class="status-item-new" [ngClass]="{'active-green': currentFilters.includes('NEW')}"
      (click)="setCurrentFitlers('NEW')">{{"common.labels.NEW" | translate}}</div>
      <div class="status-item-inactive"  [ngClass]="{'active-red': currentFilters.includes('INACTIVE')}"
      (click)="setCurrentFitlers('INACTIVE')">{{"common.labels.INACTIVE" | translate}}</div>
      <!-- <div class="status-item"  [ngClass]="{'active': currentFilters.includes('OLD')}"
      (click)="setCurrentFitlers('OLD')">OLD</div> -->
    </div>

    <div class="bttn-wrap">
      <div class="download-csv-bttn" (click)="downloadAsCSV()" *ngIf = "authList.includes('EXPORT_REPORTS')">
        {{ "subscriptions.DOWNLOAD_EXCEL_BTTN" | translate }}
      </div>
      <div class="add-sub-bttn button-with-loader" (click)="gssnDataSync()" *ngIf = "authList.includes('GSSN_SYNC')">
        {{ "subscriptions.DEALER_DATA_SYNC" | translate }}
        <div class="loader-parent" *ngIf="isSyncInProgress">
          <div class="loader"></div>
        </div>
      </div>
      <div class="refresh-button"
       #tooltip="matTooltip"
        matTooltip="{{ 'subscriptions.REFRESH' | translate }}"
        matTooltipPosition = "above"
        matTooltipClass="custom-tooltip"
        *ngIf="!isSyncInProgress"
        (click)="refreshData()"
        >
        <img src="assets/icons/refresh.svg" alt="">
      </div>
      <div class="sync-info-wrapper">
        <p class="sync-info">
          {{ "subscriptions.LAST_SYNC" | translate }}: 
          <span>{{ lastSyncDate ? (lastSyncDate | date: 'MMM d, y, h:mm a'): 'NA'}}</span>
        </p>
        <img
          class="info-button"
          [mdePopoverTriggerFor]="appPopover"
          mdePopoverTriggerOn="hover"
          #popoverTrigger="mdePopoverTrigger"
          src="/assets/icons/info-button.svg"
          alt="info"
        />
      </div>
      <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
        <div class="popover-box">
          <p class="sync-add-info">
            {{ "subscriptions.TABLE_UPDATE_ADD_INFO" | translate }}
          </p>
          <p class="next-date">
            {{ "subscriptions.NEXT_SYNC" | translate }}:
            <span class="bold">{{nextSyncDate ?  (nextSyncDate | date) : 'NA'}}</span>
          </p>
        </div>
      </mde-popover>
    </div>
  </div>
  <div class="sub-table-wrap">
    <app-datatable
      [columns]="displayedColumns"
      [data]="filteredSubData"
      [columnConfig]="columnConfig"
      (rowClick)="editSubscription($event)"
      [showLegends]="true"
    >
      <!-- Dealer Name -->
      <ng-container matColumnDef="dealerName">
        <th
          id='dealerName'
          mat-header-cell
          width="350px"
          *matHeaderCellDef
          [attr.rowspan]="columnConfig.dealerName.rowSpan"
          [attr.colspan]="columnConfig.dealerName.colSpan"
        >
          {{ columnConfig.dealerName.title | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="dealer-status-wrapper">
            <p>{{ getValueIn(element, cellSelectors.dealerName) }}</p>
            <div *ngIf="element?.status === 'NEW'" class="status-icon NEW">{{"common.labels.NEW" | translate}}</div>
            <div *ngIf="element?.status === 'INACTIVE'" class="status-icon INACTIVE">{{"common.labels.INACTIVE" | translate}}</div>
          </div>
        </td>
      </ng-container>

      <!-- Outlet ID -->
      <ng-container matColumnDef="outletId">
        <th
          id='outletId'
          mat-header-cell
          *matHeaderCellDef
          [attr.rowspan]="columnConfig.outletId.rowSpan"
          [attr.colspan]="columnConfig.outletId.colSpan"
        >
          {{ columnConfig.outletId.title | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getValueIn(element, cellSelectors.outletId) }}
        </td>
      </ng-container>

      <!-- Company ID -->
      <ng-container matColumnDef="companyId">
        <th
        id='companyId'
          mat-header-cell
          *matHeaderCellDef
          [attr.rowspan]="columnConfig.companyId.rowSpan"
          [attr.colspan]="columnConfig.companyId.colSpan"
        >
          {{ columnConfig.companyId.title | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getValueIn(element, cellSelectors.companyId) }}
        </td>
      </ng-container>

      <!-- Leading Brand Code -->
      <ng-container matColumnDef="brandCode">
        <th
        id='brandCode'
          mat-header-cell
          *matHeaderCellDef
          width="100px"
          style="padding-right: 20px"
          [attr.rowspan]="columnConfig.brandCode.rowSpan"
          [attr.colspan]="columnConfig.brandCode.colSpan"
        >
          {{ columnConfig.brandCode.title | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getValueIn(element, cellSelectors.brandCode) }}
        </td>
      </ng-container>

      <!-- Road  or Adress-->
      <ng-container matColumnDef="address">
        <th
        id='address'
          mat-header-cell
          *matHeaderCellDef
          width="140px"
          [attr.rowspan]="columnConfig.address.rowSpan"
          [attr.colspan]="columnConfig.address.colSpan"
        >
          {{ columnConfig.address.title | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getValueIn(element, cellSelectors.address) }}
        </td>
      </ng-container>

      <!-- Place -->
      <ng-container matColumnDef="place">
        <th
        id='place'
          mat-header-cell
          *matHeaderCellDef
          [attr.rowspan]="columnConfig.place.rowSpan"
          [attr.colspan]="columnConfig.place.colSpan"
        >
          {{ columnConfig.place.title | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getValueIn(element, cellSelectors.place) }}
        </td>
      </ng-container>

      <!-- Post Code -->
      <ng-container matColumnDef="postCode">
        <th
        id='postCode'
          mat-header-cell
          *matHeaderCellDef
          [attr.rowspan]="columnConfig.postCode.rowSpan"
          [attr.colspan]="columnConfig.postCode.colSpan"
        >
          {{ columnConfig.postCode.title | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getValueIn(element, cellSelectors.postCode) }}
        </td>
      </ng-container>

      <!-- Subscription Status -->
      <ng-container matColumnDef="subscriptionStatus">
        <th
        id='subscriptionStatus'
          mat-header-cell
          *matHeaderCellDef
          [attr.rowspan]="columnConfig.subscriptionStatus.rowSpan"
          [attr.colspan]="columnConfig.subscriptionStatus.colSpan"
        >
          {{ columnConfig.subscriptionStatus.title | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngTemplateOutlet="
          getValueIn(element,cellSelectors.subscriptionStatus.truck)?.subscribed? subscribed : notSubscribed"></ng-container>
      </td>
      </ng-container>
      
    </app-datatable>
  </div>
</div>

<ng-template #subscribed>
  <div class="sub-status-wrap">
    <span class="sub-status subscribed"></span>
  </div>
</ng-template>
<ng-template #notSubscribed>
  <div class="sub-status-wrap">
    <span class="sub-status not-subscribed"></span>
  </div>
</ng-template>
<ng-template #noSubscription>
  <div class="sub-status-wrap">
    <span class="sub-status no-subscription"></span>
  </div>
</ng-template>
