@import "src/partials/variables";

.subscriptions-container {
  padding: 20px 50px;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: auto;
  .page-title {
    font-size: 30px;
    // font-weight: bold;
    font-family: $daimler-cs-bold;
    color: #000000;
    margin: 0 0 25px;
  }
  .sub-filter-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;

    .input-wrap {
      height: 42px;
      min-width: 430px;
      border-radius: 5px;
      border: solid 1px #707070;
      padding-left: 50px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      position: relative;
      @media screen and (max-width: 560px) {
        min-width: 90%;
        margin-bottom: 10px;
      }
      input {
        font-size: 16px;
        &::placeholder {
          color: #707070;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 20px;
        background: url("/assets/icons/search-icon.svg") no-repeat;
        background-size: contain;
        background-position: center;
        left: 0;
      }
    }
    .bttn-wrap {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      position: relative;
      margin-left: auto;
      div {
        font-family: $daimler-cs-demi;
        font-size: 17px;
        color: #ffffff;
        cursor: pointer;
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
      }
      .add-sub-bttn {
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 rgba(35, 145, 180, 0.31);
        background-color: #2f7b93;
        @media screen and (max-width: 460px) {
          padding: 0px;
        }
      }
      .button-with-loader {
        position: relative;
        .loader-parent {
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: #2f7c93a8;
          cursor: not-allowed;
          .loader {
            display: inline-block;
            // width: 1em;
            // height: 1em;
            color: inherit;
            vertical-align: middle;
            pointer-events: none;
            background: currentcolor;
            position: relative;
            animation: loader-15 1s ease-in-out infinite;
            animation-delay: 0.4s;
            width: 0.25em;
            height: 0.5em;
            margin: 0 0.5em;
            &:after,
            &:before {
              content: "";
              position: absolute;
              width: inherit;
              height: inherit;
              background: inherit;
              animation: inherit;
            }
            &:before {
              right: 0.5em;
              animation-delay: 0.2s;
            }
            &:after {
              left: 0.5em;
              animation-delay: 0.6s;
            }
            @keyframes loader-15 {
              0%,
              100% {
                box-shadow: 0 0 0 currentcolor, 0 0 0 currentcolor;
              }
              50% {
                box-shadow: 0 -0.25em 0 currentcolor, 0 0.25em 0 currentcolor;
              }
            }
          }
        }
      }
      .refresh-button {
        margin-left: 20px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        padding: 8px;
        border: 0;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        display: block;
        &:hover {
          background: #fffafa;
          cursor: pointer;
        }
      }
      .download-csv-bttn {
        margin-right: 20px;
        padding: 0 35px;
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 rgba(163, 163, 163, 0.31);
        background-color: #444444;
      }
      .sync-info-wrapper {
        position: absolute;
        right: 0;
        bottom: -25px;
        height: auto;
        .sync-info {
          font-family: $daimler-cs-regular;
          font-size: 12px;
          color: #444444;
          white-space: nowrap;
        }
        .info-button {
          width: 14px;
          height: 14px;
          margin-left: 10px;
          margin-right: 40px;
          cursor: pointer;
        }
      }
    }

    .status-filter-container{
      display: flex;
      align-items: center;
      margin-left: 20px;
      .title-header{
        font-size: 16px;
      }
      .status-item-new{
        cursor: pointer;
        font-size: 16px;
        margin: 2px 5px;
        border-radius: 15px;
        border: 2px solid #6db537;
        color: #6db537;
        padding: 5px 15px;
      }

      .status-item-inactive{
        cursor: pointer;
        font-size: 16px;
        margin: 2px 5px;
        border-radius: 15px;
        padding: 5px 15px;
        border: 2px solid #ed3833;
        color: #ed3833;
      }

      .active-red{
        background-color: #ed3833;
        color: white;

      } 
      .active-green{
        background-color: #6db537;
        color: white;

      } 
    }
  }
  .sub-table-wrap {
    flex: 1;
    overflow: hidden;
    min-height: calc(100% - 50px);
  }
  .sub-status-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .sub-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      &.subscribed {
        background-color: #6db537;
      }
      &.not-subscribed {
        background-color: #ed3833;
      }
      &.no-subscription {
        background-color: #C8C8C7;
      }
    }
  }
  .dealer-status-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    .status-icon {
      border: solid 1px black;
      padding: 2px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $daimler-cs-demi;
      font-size: 14px;
      margin: 0 10px;
      border-radius: 10px;
      white-space: nowrap;
      &.NEW {
        border-color: #6db537;
        color: #6db537;
      }
      &.INACTIVE {
        border-color: #ed3833;
        color: #ed3833;
      }
    }
  }
}

.custom-tooltip {
  color: black;
  background-color:#2f7c93ce;
  font-size: 15px;
}
