@import 'src/partials/variables';

.home-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  font-family: $daimler-cs-regular;
  

  .navbar-container {
    width: 80px;
    min-width: 80px;
    height: 100%;
    background-color: #000;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: width min-width;
    user-select: none;
    @media (max-width: 1024px) {
        position: absolute;
          z-index: 102;
      }
  }

  .content-container {
    height: 100%;
    width: 100%;
    flex: 1;
    // display: flex;
    overflow: hidden;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: transform, margin-left;
    display: flex;
    flex-direction: column;
    .header-container {
      width: 100%;
    //   height: 80px;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.02);
      background-color: #ffffff;
      user-select: none;
    }

    .content-wrap {
      width: 100%;
      // height: calc(100% - 120px);
      background: #fafafa;
      overflow: hidden;
      flex: 1;
    }
    .email-container {
      display: flex;
      // height: 40px;
      justify-content: flex-end;
      align-items: center;
      font-size: 15px;
      padding: 10px 20px;
      flex-wrap: wrap;
      box-shadow: 49px -53px 18px -53px rgba(0,0,0,0.45);
          -webkit-box-shadow: 49px -53px 18px -53px rgba(0,0,0,0.45);
          -moz-box-shadow: 49px -53px 18px -53px rgba(0,0,0,0.45);
      .mail {
        margin: 0 5px;
      }
    }
    @media (max-width: 1024px) {
        margin-left: 80px;
       }
  }

  &.sidenav-open {
    .navbar-container {
      width: 20vw;
      min-width: 300px;
    }

    // .content-container {}
  }
}
