<div class="home-container" [ngClass]="{'sidenav-open': sideNavOpen}">
  <div class="navbar-container">
    <app-navbar [open]="sideNavOpen" (toggleNavMenu)="toggleSideNav()"></app-navbar>
  </div>


  <div class="content-container">
    <div class="header-container">
      <app-header></app-header>
    </div>
    <div class="content-wrap">
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="email-container">
      <p>
        Please contact 
        <a href="mailto:support_xwep@daimler.com" class="mail">support_xwep@daimler.com</a>
        for any queries on application, access or data related requests
      </p>
    </div> -->
  </div>
</div>
<app-loader *ngIf="showLoader"></app-loader>
