@import 'src/partials/variables';

.container {
  width: 60vw;
  height: 65vh;
  background: #fff;
  padding: 35px;
  position: relative;
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.18);
  overflow: hidden;
  @media (max-device-width: 1280px) {
      width: 78vw;
  }
  .close-bttn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background: url("/assets/icons/dialog-close.svg") no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
  }
  .basic-info-wrap {
    height: 100px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e0e0e0;
      bottom: 0;
      left: 0;
    }
    .dealer-name {
      font-family: $daimler-cs-demi;
      font-size: 22px;
      margin-bottom: 10px;
    }
    .company-id,
    .outlet-id {
      font-size: 16px;
      margin-right: 40px;
      b {
        font-family: $daimler-cs-demi;
      }
    }
  }
  .content-wrap {
    flex: 1;
    overflow-y: auto;
  }
  .details-section {
    width: 100%;
    display: flex;
    // flex-direction: column;
    flex-flow: column;
    align-items: center;
    .tabs-wrap {
      overflow: hidden;
      margin: 15px 0;
      width: fit-content;
      span {
        padding: 10px 0;
        width: 200px;
        transition: 0.2s;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: $daimler-cs-demi;
        font-size: 16px;
        border: solid 1px #444444;
        cursor: pointer;
        &.active {
          background-color: #444444;
          color: #fff;
        }
        &:first-child {
          border-radius: 5px 0 0 5px;
        }
        &:last-child {
          border-radius: 0 5px 5px 0;
        }
      }
    }
    .details-wrap {
      flex: 1;
      width: 100%;
      display: flex;
      flex-flow: column;
      section {
        flex: 1;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-flow: column;
        background-color: #f8f8f8;
        .section-title {
          font-family: $daimler-cs-demi;
          font-size: 22px;
          margin-bottom: 20px;
        }
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        .data-groups-wrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          flex: 1;
          .data-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 15px;
            margin-left: 20px;
            font-size: 16px;
            min-width: 250px;
            flex: 1;
            max-width: 50%;
            &:last-child {
              margin-right: auto;
            }
            .label {
              margin-bottom: 15px;
            }
            .value {
              height: 42px;
              width: 100%;
              opacity: 0.6;
              border-radius: 5px;
              border: solid 1px #707070;
              background-color: #f8f8f8;
              padding: 10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        &.status-section {
            min-width: 400px;
          .status-table-header {
            display: flex;
            height: 45px;
            border-radius: 5px;
            background-color: #eeeeee;
            margin-bottom: 15px;
            span {
              flex: 1;
              font-family: $daimler-cs-demi;
              font-size: 16px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding-left: 10px;
            }
          }
          .status-table-body {
            display: flex;
            flex-direction: column;
            .row {
              display: flex;
              height: 65px;
              border-radius: 5px;
              box-shadow: 0 2px 6px 0 rgba(20, 126, 159, 0.12);
              background-color: #ffffff;
              position: relative;
              &:not(:last-child) {
                margin-bottom: 15px;
              }
              &::before {
                content: "";
                position: absolute;
                width: 3px;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #ed3833;
              }
              span {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 10px;
                font-size: 16px;
                color: #444444;
                &.sub-status {
                  position: relative;
                  justify-content: flex-start;
                  left: 45px;
                  &::after {
                    content: "";
                    width: 9px;
                    height: 9px;
                    background-color: #ed3833;
                    border-radius: 50%;
                  }
                }
              }
              &.subscribed {
                &::before {
                  background-color: #6db537;
                }
                .sub-status {
                  &::after {
                    background-color: #6db537;
                  }
                }
              }
              &.no-subscribed {
                &::before {
                  background-color: #c8c8c7;
                }
                .sub-status {
                  &::after {
                    background-color: #c8c8c7;
                  }
                }
              }
            }
          }
          .legends-wrap {
            padding: 30px 0;
            display: flex;
            span {
              padding-left: 15px;
              font-size: 14px;
              color: #444444;
              position: relative;
              display: flex;
              align-items: center;
              margin-right: 15px;
              &::before {
                content: "";
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background: #ed3833;
                position: absolute;
                left: 0;
                top: 3px;
              }
              &.active {
                &::before {
                  background: #6db537;
                }
              }
            }
          }
        }
      }
    }
  }
}
