<div class="container">
    <span class="close-bttn" (click)="close()"></span>

    <div class="basic-info-wrap">
        <div>
            <p class="dealer-name">{{data.legalName}}</p>
            <span class="company-id">{{'subscriptions.subscriptionData.COMPANY_ID' | translate}}: <strong>{{data.companyId}}</strong></span>
            <span class="outlet-id">{{'subscriptions.subscriptionData.OUTLET_ID' | translate}}: <strong>{{data.outletId}}</strong></span>
        </div>
    </div>
    <div class="content-wrap">
        <div class="details-section">
            <div class="tabs-wrap">
                <span class="dealer-data" [ngClass]="{'active': activeTab == 'dealer'}" (click)="changeActiveTab('dealer')">{{"subscriptions.formLabels.DEALER_DATA" | translate}}</span>
                <span class="sub-status" [ngClass]="{'active': activeTab == 'status'}" (click)="changeActiveTab('status')">{{"subscriptions.formLabels.SUBSCRIPTION_STATUS" | translate}}</span>
            </div>
            <div class="details-wrap">
                <ng-container *ngTemplateOutlet="activeTab == 'dealer'?dealerData: statusData"></ng-container>
            </div>
        </div>
    </div>

</div>

<ng-template #dealerData>
    <section>
        <span class="section-title">{{"subscriptions.formLabels.BASIC" | translate}}</span>
        <div class="data-groups-wrap">
            <div class="data-group">
                <span class="label">{{'subscriptions.subscriptionData.DEALER_NAME' | translate}}</span>
                <span class="value">{{data.legalName}}</span>
            </div>
            <div class="data-group">
                <span class="label">{{'subscriptions.subscriptionData.BRAND_CODE' | translate}}</span>
                <span class="value">{{data.brandCode}}</span>
            </div>
            <div class="data-group">
                <span class="label">{{'subscriptions.subscriptionData.ROAD' | translate}}</span>
                <span class="value">{{data.road}}</span>
            </div>
            <div class="data-group">
                <span class="label">{{'subscriptions.subscriptionData.PLACE' | translate}}</span>
                <span class="value">{{data.place}}</span>
            </div>
            <div class="data-group">
                <span class="label">{{'subscriptions.subscriptionData.POSTCODE' | translate}}</span>
                <span class="value">{{data.postCode}}</span>
            </div>

        </div>
    </section>
    <!-- <section>
        <span class="section-title">{{'subscriptions.formLabels.EMAIL_CONTACT' | translate}}</span>

        <div class="data-groups-wrap">
            <div class="data-group">
                <span class="label">{{'subscriptions.divisions.PASSENGER_CAR' | translate}}</span>
                <span class="value">{{data.emailPassengerCars}}</span>
            </div>
            <div class="data-group">
                <span class="label">{{'subscriptions.divisions.VAN' | translate}}</span>
                <span class="value">{{data.emailLKW}}</span>
            </div>
            <div class="data-group">
                <span class="label">{{'subscriptions.divisions.TRUCK' | translate}}</span>
                <span class="value">{{data.emailTransporter}}</span>
            </div>
            <div class="data-group">
                <span class="label">{{'subscriptions.divisions.EQ' | translate}}</span>
                <span class="value">{{data.emailSmartPassengerCars}}</span>
            </div>
        </div>

    </section> -->
</ng-template>
<ng-template #statusData>
    <section class="status-section">
        <div class="status-table-header">
            <span class="division">{{'subscriptions.formLabels.DIVISION' | translate}}</span>
            <span class="equipment-type">{{'subscriptions.formLabels.EQUIPMENT_TYPE' | translate}}</span>
            <span class="sub-status">{{'subscriptions.formLabels.SUBSCRIPTION_STATUS' | translate}}</span>
            <span class="sub-type">{{'subscriptions.formLabels.SUBSCRIPTION_TYPE' | translate}}</span>
        </div>
        <div class="status-table-body">
            <div class="row" [ngClass]="{'no-subscribed' : !data?.subscriptionStatus?.truck?.subscribed , 'subscribed': data?.subscriptionStatus?.truck?.subscribed}">
                <span class="division">{{'subscriptions.divisions.TRUCK' | translate}}</span>
                <span class="equipment-type">{{'subscriptions.equipmentType.' + (data?.subscriptionStatus?.truck?.equipmentType || 'NA') | translate}}</span>
                <span class="sub-status"></span>
                <span class="sub-type">{{data?.subscriptionStatus?.truck?.subscriptionType}}</span>
            </div>
            
        </div>
        <div class="legends-wrap">
            <span class="active">{{'common.labels.ACTIVE' | translate}}</span>
            <span class="inactive">{{'common.labels.INACTIVE' | translate}}</span>
        </div>
    </section>
</ng-template>