<div
  class="current-user"
  [ngClass]="{ 'menu-open': userMenuOpen }"
  (click)="toggleUserMenu()"
>
  <span class="user-name">{{ userName }}</span>
  <ul class="option-list">
    <li (click)="handleLogout()">{{ "subscriptions.LOGOUT" | translate }}</li>
  </ul>
</div>
