@import 'src/partials/variables';

.current-user {
  display: flex;
  align-items: center;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  .user-name {
    margin-right: 20px;
    font-family: $daimler-cs-demi;
    font-size: 18px;
  }
  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/assets/mock/icons/pic@3x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url("/assets/icons/caret-down.svg") no-repeat;
    background-position: center;
    background-size: contain;
    right: -12px;
  }
  .option-list {
    width: 12rem;
    position: absolute;
    background: #fff;
    border-radius: 3px;
    top: calc(100% + 25px);
    right: -30px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.18);
    transform: scale(0.8) translateY(-3rem);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 100;
    li {
      list-style: none;
      padding: 10px;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      position: relative;
    }
  }
  &.menu-open {
    &::after {
      transform: rotate(180deg);
    }
    .option-list {
      transform: scale(1) translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
