@font-face {
    font-family: 'DaimlerCS-Light';
    src: url('/assets/fonts/DaimlerCS-Light.eot');
    src: url('/assets/fonts/DaimlerCS-Light.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/DaimlerCS-Light.woff2') format('woff2'), url('/assets/fonts/DaimlerCS-Light.woff') format('woff'), url('/assets/fonts/DaimlerCS-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaimlerCS-Bold';
    src: url('/assets/fonts/DaimlerCS-Bold.eot');
    src: url('/assets/fonts/DaimlerCS-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/DaimlerCS-Bold.woff2') format('woff2'), url('/assets/fonts/DaimlerCS-Bold.woff') format('woff'), url('/assets/fonts/DaimlerCS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaimlerCS-Demi';
    src: url('/assets/fonts/DaimlerCS-Demi.eot');
    src: url('/assets/fonts/DaimlerCS-Demi.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/DaimlerCS-Demi.woff2') format('woff2'), url('/assets/fonts/DaimlerCS-Demi.woff') format('woff'), url('/assets/fonts/DaimlerCS-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaimlerCS-Regular';
    src: url('/assets/fonts/DaimlerCS-Regular.eot');
    src: url('/assets/fonts/DaimlerCS-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/DaimlerCS-Regular.woff2') format('woff2'), url('/assets/fonts/DaimlerCS-Regular.woff') format('woff'), url('/assets/fonts/DaimlerCS-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}