@import 'src/partials/variables';

.chart-legend {
    header {
        background: #fff !important;
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        .legend-title-text {
            font-family: $daimler-cs-demi;
            font-size: 16px;
        }
    }
    .legend-wrap {
        width: 100% !important;
        display: flex;
    }
    .legend-labels {
        background: #fff !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow: hidden !important;
        .legend-label {
            width: 40%;
            flex: 1;
            .legend-label-text {
                font-size: 12px;
                // white-space: normal;
            }
        }
    }
}

.ngx-charts-tooltip-content {
    background: transparent !important;
    padding: 0 !important;
    .tooltip-caret {
        display: none;
    }
}


/* NGX Toast */

.toast-title {
    font-size: 1.8rem !important;
}

.toast-message {
    font-size: 1.6rem !important;
}