.form-select {
    padding-right: 20px;
    .mat-select-trigger {
        height: 40px !important;
        border-radius: 5px;
        border: solid 1px #707070;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        .mat-select-value {
            max-width: none;
        }
    }
    &.mat-select-disabled {
        opacity: 0.5;
    }
}

.form-select-panel {
    min-width: 100% !important;
    background: #fff;
    transform: none !important;
    border: solid 1px #707070;
}

.cdk-overlay-pane {
    transform: unset !important;
    .mat-select-panel {
        min-width: 100% !important;
    }
}

.mat-select-panel-wrap {
    margin-top: 40px;
}

//  ::ng-deep {}