$daimler-cs-regular : DaimlerCS-Regular,  Arial, Helvetica, sans-serif;
$daimler-cs-light : DaimlerCS-Light,  Arial, Helvetica, sans-serif;
$daimler-cs-demi : DaimlerCS-Demi,  Arial, Helvetica, sans-serif;
$daimler-cs-bold : DaimlerCS-Bold,  Arial, Helvetica, sans-serif;