<div
  class="lang-select-container"
  [ngClass]="{ 'menu-open': menuOpen }"
  (click)="toggleMenu()"
>
  <span class="current-lang">{{ currentLanguage | uppercase }}</span>
  <ul class="lang-list">
    <li
      *ngFor="let lang of languageList"
      (click)="handleLanguageChange($event, lang)"
      [ngClass]="{'active': currentLanguage === lang}"
    >
      {{ languageLabels[lang] }}
    </li>
  </ul>
</div>
