<div class="container">
    <div class="stepper-wrap">
        <span *ngFor="let step of steps; let i =index" class="stepper-item" [ngClass]="{'completed': i < activeStep, active: i == activeStep}">{{step}}</span>
    </div>
</div>