@import 'src/partials/variables';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    counter-reset: stepcount;
    .stepper-wrap {
        width: 50%;
        // max-width: 300px;
        display: flex;
        justify-content: space-between;
        .stepper-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            flex: 1;
            counter-increment: stepcount 1;
            font-family: $daimler-cs-demi;
            font-size: 1.6rem;
            color: #9f9e9d;
            &::before {
                content: counter(stepcount);
                width: 3rem;
                height: 3rem;
                background-color: #9f9e9d;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                transition: 0.3s;
                margin-bottom: 5px;
            }
            &:not(:last-child) {
                &::after {
                    content: '';
                    position: absolute;
                    width: calc(100% - 30px);
                    height: 1px;
                    top: 15px;
                    background: #9f9e9d;
                    left: calc(50% + 15px);
                    transition: 0.3s;
                }
            }
            &.completed {
                color: #444444;
                &::before {
                    content: '';
                    background: url('/assets/icons/step-complete-icon.svg') no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                &::after {
                    background-color: #6ea046;
                }
            }
            &.active {
                color: #444444;
                &::before {
                    background: #5097ab;
                }
            }
        }
    }
}