<div class="container">
    <span class="close-bttn" (click)="closeDialog()"></span>
    <div class="confirm-msg-wrap">
        <span class="action-halt-icon"></span>
        <span class="confirm-delete-msg">{{'common.confirmation.DELETE' | translate}}</span>
    </div>
    <div class="actions-wrap">
        <span class="confirm" (click)="confirmDelete()">{{'common.buttons.YES' | translate}}</span>
        <span class="cancel" (click)="cancelDelete()">{{'common.buttons.NO' | translate}}</span>
    </div>
</div>