@import 'src/partials/variables';

.container {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .flex-element {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }



  .app-logo {
    display: flex;
    // justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 5px 0;

    img {
      @media screen and (max-width: 1024px) {
        max-width: 300px;
      }

      @media screen and (max-width: 550px) {
        max-width: 250px;
       
      }
    }
  }

}
