<div class="container">
  <div class="app-logo">
    <img
      class="lg-screen"
      src="assets/logo/xwep-logo-text.svg"
      alt="xwep_logo"
    />
    <!-- <div>XENTRY Workshop Equipment Pre-Order</div> -->
    <!-- <img class="sm-screen" src="assets/logo/XWEP_Logo-small.png" alt="xwep_logo"> -->
  </div>
  <div class="flex-element">
    <app-mpc-country-select
      [countryList]="countryList"
      [currentCountry]="currentCountry"
      (countryChange)="handleCountryChange($event)"
      *ngIf="userRole === 'mpc'"
    >
    </app-mpc-country-select>
    <app-language-select
      [currentLanguage]="currentLang"
      (langchange)="handleLangChange($event)"
    ></app-language-select>
    <app-user-options [userName]="userName"> </app-user-options>
  </div>
</div>
