<section class="division-overview">
    <p class="section-title">{{"sectionTitles.DIVISION_OVERVIEW" | translate}}</p>
    <div class="overview-wrap" *ngIf="overviewData">
        
        <div class="division-wrap truck">
            <app-donut-chart [title]="'subscriptions.divisions.TRUCK' | translate" [data]="overviewData.aggregateData.truck.chartData" [colors]="overviewData.aggregateData.truck.colorData" (activationchange)="handleActivationChange($event)">
                <ng-template [ngTemplateOutlet]="tooltip"></ng-template>
            </app-donut-chart>
        </div>
        
    </div>

</section>

<ng-template #tooltip let-model="model">
    <div class="tooltip-temp" *ngIf="chartActiveEl">
        <ng-container *ngIf="chartActiveEl.label != 'no_data';else noData">
            <span class="tooltip-label-text">{{chartActiveEl.label | translate}}</span>
            <span class="tooltip-value-text">{{chartActiveEl.value}} / {{chartActiveEl.total}}</span>
        </ng-container>
    </div>
</ng-template>

<ng-template #noData>
    <span class="tooltip-label-text">{{"common.NO_DATA" | translate}}</span>
</ng-template>