@import 'src/partials/variables';

.division-overview {
  height: 395px;
  width: 100%;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-bottom: 25px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  @media (max-width: 768px) {
    height: auto;
    padding: 10px;
  }
  .section-title {
    font-family: $daimler-cs-demi;
    font-size: 22px;
    margin-bottom: 10px;
    height: 10%;
  }

  .overview-wrap {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    
    .division-wrap {
      width: 24%;
      height: 100%;
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      @media (max-width: 900px) {
        width: 170px;
        height: 340px;
        margin: 2px;
      }
    }
  }
}

.tooltip-temp {
  width: 161px;
  min-height: 60px;
  opacity: 0.9;
  border-radius: 5px;
  background-color: #164355;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;

  span {
    font-family: $daimler-cs-demi;
    font-size: 14px;

    &.tooltip-value-text {
      font-family: $daimler-cs-bold;
      font-size: 18px;
      margin-top: 5px;
    }
  }
}
