@import 'src/partials/variables';

.pagination-container {
    width: 250px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
        width: 140px;
      
      }
    .nav-bttn {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        box-shadow: 0 2px 6px 0 rgba(20, 126, 159, 0.12);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        &.prev {
            background-image: url('/assets/icons/pagination-prev.svg');
            margin-right: 10px;
        }
        &.next {
            background-image: url('/assets/icons/pagination-next.svg');
            margin-left: 10px;
        }
    }
    .pagenumber-wrap {
        display: flex;
        height: 35px;
        border-radius: 5px;
        box-shadow: 0 2px 6px 0 rgba(20, 126, 159, 0.12);
        background-color: #ffffff;
        overflow: hidden;
        .pagenumber {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            cursor: pointer;
            font-family: $daimler-cs-demi;
            font-size: 16px;
            &.active {
                background-color: #5097ab;
                color: #fff;
            }
        }
    }
}