<div class="pagination-container" *ngIf="paginationArray?.length > 1">
  <span class="nav-bttn prev" (click)="goToPrevPage()"></span>
  <div class="pagenumber-wrap">
    <span class="pagenumber" [ngClass]="{'active': activePageNumber === item}" *ngFor="let item of paginationArray" (click)="goToPage(item)">{{
      item
    }}</span>
  </div>
  <span class="nav-bttn next" (click)="goToNextPage()"></span>
</div>
