<div
  class="country-select-container"
  [ngClass]="{ 'menu-open': menuOpen }"
  (click)="toggleMenu()"
>
  <span class="current-country">{{ countryListLabels[currentCountry] | uppercase }}</span>
  <ul class="lang-list">
    <li
      *ngFor="let country of countryList"
      (click)="handleCountryChange($event, country)"
      [ngClass]="{'active': currentCountry === country}"
    >
      {{ countryListLabels[country] }}
    </li>
  </ul>
</div>
