@import 'src/partials/variables';

.country-select-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5rem;
  z-index: 101;
  cursor: pointer;
  .current-country {
    font-family: $daimler-cs-demi;
    font-size: 18px;
    // width: 60px;
    text-align: center;
    margin-right: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url("/assets/icons/caret-down.svg") no-repeat;
    background-position: center;
    background-size: contain;
    right: -20px;
    transform: rotate(0);
    transition: 0.3s;
  }
  .lang-list {
    // width: 12rem;
    position: absolute;
    background: #fff;
    border-radius: 3px;
    top: calc(100% + 25px);
    right: -30px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.18);
    transform: scale(0.8) translateY(-3rem);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    li {
      list-style: none;
      padding: 10px 30px;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      &.active {
        &::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          display: inline-block;
          background: url("/assets/icons/step-complete-icon.svg") no-repeat;
          background-position: center;
          background-size: contain;
          left: 12px;
          top: 10px;
        }
      }
    }
  }
  &.menu-open {
    &::after {
      transform: rotate(180deg);
    }
    .lang-list {
      transform: scale(1) translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
